/*
	*
	*	CONFIGURATION : AEVI GRID
	*	DATE          : 2014/2015
	*	
*/

/*
	*	VARIABLES AND PATHS
 */

@fonts: '/fonts';
@fonts: '../fonts';
@fontsPortal: '/Modules/Wincor.Aevi.OrchardModule/Content/Fonts';
@fonts: @fontsPortal;

@img: '/img';
@img: '../img';
@imgPortal: '/Modules/Wincor.Aevi.OrchardModule/Content/Images';
@img: @imgPortal;

@font: 'Arial';

.pointer {cursor: pointer;}

.primary-font {font-family: @font;}

.actionImage {
	.rel;
	max-height: 300px;
	overflow-y: scroll;
	img {max-width: 100%;}
}

.fakeInput {
	.abs;
	top: -99999px;
	left: -99999px;
}

/*
	*	SETTINGS
 */

@import "settings/mixins.less";
@import "settings/mediaqueries.less";

/*
	*	EXTERNAL LIBRARIES
 */

@import "external/jquery-ui.less";
@import "external/toastr.less";
@import "external/cropper.less";

/*
	*	MEDIA
 */

@import "media/fonts.less";
@import "media/icons.less";
@import "media/colors.less";

/*
	*	COMPONENTS
*/

@import "components/app.less";
@import "components/table.less";

@import "components/aeviRow.less";
@import "components/aeviRowNumber.less";
@import "components/aeviCell.less";

@import "components/aeviToolbar.less";
@import "components/aeviStatusBar.less";
@import "components/contextmenu.less";
@import "components/scroll.less";
@import "components/sorting.less";
@import "components/aeviSearch.less";
@import "components/clipboardDialog.less";
@import "components/ajaxPreloader.less";
@import "components/pager.less";
@import "components/aeviHelp.less";
@import "components/aeviSum.less";
@import "components/aeviModal.less";
@import "components/aeviProtected.less";
@import "components/aeviBubble.less";
@import "components/aeviForm.less";

/*	
 * editors
 */
@import "components/editors/editor.less";
@import "components/editors/textEditor.less";
@import "components/editors/dateTimeEditor.less";
@import "components/editors/booleanEditor.less";
@import "components/editors/enumEditor.less";
@import "components/editors/imageEditor.less";
@import "components/editors/actionLink.less";

/*
	*	THEMES
 */

@import "themes/themeGenerator.less";