/*
	*
	*	aeviRowNumber.less
	* 
*/

.aeviRowNumber {
  .aeviCell;
  font-size: 11px;
  cursor: pointer;
  border-left: none !important;

  .aeviCellBorder {
    border-left: none;
    padding: 0;
  }

  &.selected {}
}