/*
	*
	*	aeviHelp.less
	* 
*/

.aeviHelp {
	.rel;
	margin: 0 auto;
	padding: 16px;
	display: none;
	.sizing;
	font-family: @font;
	background-color: @grey;
	border: 1px solid @border;

	p {
		font-size: 13px;
		line-height: 20px;
		color: #8e8e8e;
	
		a {
			font-weight: 600;
			color: @colorIdentity;
		}

		&.title {
			font-weight: 700;
			color: #363636;	

			&:before {
				.aevifont;
				content: @af-var-question_circle;
				vertical-align: -1px;
				margin-right: 8px;
				font-size: 16px;
			}
		}
	}

	.aeviHelp__close {
	    z-index: 1;
	    .abs;
	    top: 10px;
	    right: 10px;
	    cursor: pointer;
	    .tdn;

	    &:before {
	    	.aevifont;
	    	content: @af-var-close;
	    	font-size: 11px;
	    	.tdn;
	    }
	}
}