/*
	*
	*	aeviModal.less
	* 
*/

#simplemodal-overlay {background-color:#000;}

#simplemodal-container {
	.corner(6px);
    padding:32px; 
    background-color: #fff;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
}

#simplemodal-container a.modalCloseImg {
    z-index: 3200;
    .abs;
    top: 10px; 
    right: 10px; 
    cursor: pointer;
    .tdn;

    &:before {
        .aevifont;
        content: @af-var-close;
        font-size: 10px;
        color: #666;
        .tdn;
    }
}

.aeviModal {
	textarea {
		.size(100%, auto);
		min-height: 200px;
	}

	h1, h2, h3 {
		padding-bottom: 13px;
		font-size: 30px;
	    border-bottom: 1px solid @border;
	}
}

.aeviModal__buttons {
	width: 100%;
	.pull-left;
	.clearFix;
	clear: both;
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid @border;
}