/*
	*
	*	aeviSum.less
	* 
*/

.aeviSum {
	.size(94%, auto);
	margin: 0 auto;
	padding: 5px 0;
	background-color: @grey;
	border: 1px solid @border;
	.sizing;
	.primary-font;

	&.cols-0 {display: none;}
	&.cols-1 {.aeviSumCol {width: 100%;}}
	&.cols-2 {.aeviSumCol {width: 50%;}}
	&.cols-3, &.cols-6 {.aeviSumCol {width: 33.333%;}}
	&.cols-4, &.cols-8 {.aeviSumCol {width: 25%;}}
	&:after {.clearFix();}

	p {
		margin: 0;
		padding: 5px 0;
	}
}

.aeviSumCol {
	display: block;
	width: 33.333%;
	float: left;
	.sizing;
	padding: 0 2%;	
	font-family: @font;
	font-size: 14px;
	font-weight: 300;
	color: @black;
	border-right: 1px solid @border;
	
  	strong {
  		.pull-right;
  		font-size: 19px;
		font-weight: 600;
  	}

  	&:last-child {border-right: none;}
}