/*
	*
	*	aeviRow.less
	* 
*/

.aeviRow {
	&.hidden {display: none;}
	&.newrow {
		td:first-child div:after {content: "*";}
	}

	&.disabled {
		//pointer-events: none;
		td {
			background-color: #dbdbdb;
		}
	}

	&:last-child .aeviCell .aeviCellBorder, 
	&:last-child .aeviRowNumber .aeviCellBorder, 
	&.newrow .aeviRowNumber .aeviCellBorder, 
	&.newrow .aeviCell .aeviCellBorder {
		border-bottom: 1px solid #000;
	}

	/*&.selected {			
		.aeviCell.selected {
			.aeviCellBorder {
				border-top: 1px solid #ff0000;
				border-bottom: 1px solid #ff0000;
			}
		}
	}*/

	&.tinge td {
		background-color: #ee5510;
		&.aeviRowNumber {background-color: #ff0000;}
	}
	
	&:nth-child(even) .aeviCell, &:nth-child(even) .aeviRowNumber {background-color: #f6f6f6;}

	&.invalid td:first-child > div, &.serverInvalid td:first-child > div {
		background-color: #ff0000;
		color: #fff;
		font-weight: 800;
	}
}