/*
	*
	*	STATUSBAR.less
	* 
*/

.aeviProtected {
	.abs;
	top: 0;
	left: 0;
	.size(100%, 31px);
	margin: 0;
	overflow: hidden;
	z-index: 2;
	line-height: 31px;
	padding: 0 17px;
	background-color: #fcf7b6;
	.text-middle;
	font-size: 12px;

	&.isOpened {
		height: auto;
		
		p {
			max-width: 100%;
			white-space: pre-wrap;
			overflow: visible;
			line-height: 25px;
			text-indent: -22px;
			margin-left: 22px;
			padding-top: 4px;
		}
	}

	p {
		margin: 0;
		.dib;
		max-width: 80%;
		text-overflow: ellipsis;
		.text-middle;
		overflow: hidden;
		white-space: nowrap;

		@media @840l {max-width: 70%;}
		@media @580l {max-width: 60%;}
		@media @500l {max-width: 55%;}

		.transition(all, ease-in, 100ms);

		&:before {
			.aevifont;
			content: @af-var-shield;
			color: @blue;
			vertical-align: -2px;
			margin-right: 5px;
			font-size: 16px;
		}
	}

	span {
		.dib;
		height: 22px;
		margin: 2px 0 0 22px;
		line-height: 21px;
		padding: 0 14px;		
		background-color: #fdfdfd;
		border: 1px solid #ababab;
		cursor: pointer;
	}
}