/*
	*
	*	TOOLBAR
	* 
*/
//responsive on responsive_propper branch

.aeviToolbar {
	position: absolute;
	top: 31px;
	left: 0;
	.size(100%, auto);
	min-height: 67px;
	background-color: #444;
	border-top: 1px solid @border;
	padding: 5px 17px;

	> span:first-child > *,
	br + i {
		margin-left: 0;
	}
	
	> * {
		margin-top: 7px !important;
		margin-bottom: 7px !important;
	}

	br {clear: both;}

	i {
        .rel;
        .dib;
		margin: 0 10px;
        padding: 0 10px 0 0;
		.text-middle;
		font-size: 12px;
		font-weight: 500;
		line-height: 32px;
		font-style: normal;
		cursor: pointer;
        text-transform: none;
		.noselection;
		color: #fff;
		background-color: #666;
		border: none;
		.corner(4px);

		&.disabled {
			pointer-events: none;
			background-color: #999;

			&:hover {background-color: #999;}
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: 150;
				.size(100%, 100%);
			}
		}

		&:hover {background-color: lighten(#666, 5%);}

		&:before {
			.aevifont;
			display: inline-block;
			margin: 0 9px;
			vertical-align: -2px;
			font-size: 13px;
		}

		&.pull-right {
			margin: 0 0 0 20px;
		}
	}

	.aeviToolbar__border {
		.size(1px, 32px);
		padding: 0;
		background: @border;
		margin: 0 10px 0 18px;
		cursor: normal;
		&:before {display: none;}
	}

	.aeviToolbar__searchwrapper {
		position: relative;
		display: inline-block;		
		.size(280px,34px);
		margin: 0;
		vertical-align: middle;
		.corner(4px);
		border: 1px solid @border;

		&.disabled {
			pointer-events: none;
			
			.aeviToolbar__query {background-color: #999;}
			i, i:hover {background-color: #999;}

			i:before, &:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: 150;
				.size(100%, 100%);
			}
		}
	}

	.aeviToolbar__filterWrapper {
		display: inline-block;
		min-width: 10px;
	}

	.aeviToolbar__textfilter,
	.aeviToolbar__numberfilter,
	.aeviToolbar__datefilter,
	.aeviToolbar__enumfilter {
		display: inline-block;		
		.size(100%,34px);
		padding: 0 9px;
		font-size: 13px;
		vertical-align: middle;
		.corner(4px);
		border: 1px solid @border;
	}

	.aeviToolbar__enumfilter {padding: 0 0 0 9px;}

	.aeviToolbar__datefilter {
		+ .datepicker {
			top: 7px;
			right: 13px;
			cursor: pointer;
		}
	}

	.aeviToolbar__query {
		.abs;
		top: 0;
		left: 0;
		.size(100%, 32px);
		padding: 0 8px;
		font-size: 13px;
		color: @lgrey;
		border: none;

		.corner(4px);
		&:focus {outline: 2px solid @buttonBackground;}
	}

	.aeviToolbar__filter {
		z-index: 1;
		.dib;
		white-space: nowrap;
		background-color: @buttonBackground;
		border: none;

		&:before {
			.aevifont;
			content: @af-var-filter;
			font-size: 15px;
			.text-middle;
		}
	}

	.aeviToolbar__toolbar_disable_toastr {
		.dib;
		color: @black;
		font-size: 14px;
		line-height: 34px;
		cursor: pointer;
		margin-left: 15px;
		.noselection;
		.text-middle;
		
		&:before {
			content: "";
			vertical-align: -2px;
			margin-right: 11px;
		}
	}

	.aeviToolbar__page_size {
		.dib;
		.pull-right;
		margin: 0 0 0 15px;
		
		span {
			font-size: 14px;
			line-height: 34px;
		}

		select {
			.dib;
			height: 32px;
			margin-left: 8px;
			padding-left: 5px;
			font-size: 13px;
			border-color: @border;
			.corner(3px);
		}
	}

	.aeviToolbar__lock:before {content: @af-var-unlock;}
	.aeviToolbar__unlock:before {content: @af-var-lock;}

	.aeviToolbar__save:before {content: @af-var-save;}
	.aeviToolbar__search:before {content: @af-var-search;}

    .aeviToolbar__pdf:before,
    .aeviToolbar__import:before,
    .aeviToolbar__export:before,
    .aeviToolbar__importexport:before,
	.aeviToolbar__xls:before {content: @af-var-download;}

	.aeviToolbar__insert_row:before,
    .aeviToolbar__delete_row:before,
    .aeviToolbar__insert_by_form {content: ""; vertical-align: middle;}
	.aeviToolbar__insert_row:before {content: @af-var-add_line;}
    .aeviToolbar__insert_by_form:before {content: @af-var-add_line;}
	.aeviToolbar__delete_row:before {content: @af-var-delete_line;}
	.aeviToolbar__paste:before {content: @af-var-clipboard;}
	.aeviToolbar__discard_changes:before {content: @af-var-cancel;}

    .aeviToolbar__insert_by_form:before {content: @af-var-form;}
}

.aeviToolbar__filterCaption {
	display: inline-block;
	padding: 0 5px 0 12px;
	font-size: 13px;
	color: @black;
}

.dib:first-child .aeviToolbar__filterCaption {padding-left: 0;}

.aeviToolbar__submenu {
    .abs;
    top: 100%;
    left: 0;
    z-index: 10;
    min-width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 7px 10px;
    .corner(4px);

    > * {
        .db;
        padding: 0 9px;
        .tdn;
        line-height: 27px;
        font-weight: 600;
        cursor: pointer;
        white-space: nowrap;
        &:hover {background-color: #c6c6c6;}
    }
}