/*
	*
	*	aeviForm.less
	* 
*/

.aeviForm {
    max-width: 700px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
    margin: 30px auto;
    padding: 32px;
    background-color: #fff;
    .corner(6px);

    .form-control {
        padding: 0 10px;
        height: 34px !important;
        background-color: #fff !important;
        border: 1px solid #ccc !important;
    }

    .form-group {
        position: relative;

        .aeviCellDate {
            position: static;
        }

        .datepicker {
            top: 8px;
            right: 7px;
            cursor: pointer !important;
        }
    }
}

.aeviForm__index {
    width: 55px;
    height: 31px;
    margin: 3px 0 8px 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border: 1px solid #e5e5e5;
}

.aeviForm__pager {
    .noselection;
    &.well {padding: 10px 20px 7px};
}

.aeviForm__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000000;
    opacity: .5;
}

.aeviForm__left,
.aeviForm__right {
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    .tdu;
    cursor: pointer;
    .noselection;

    &:hover {.tdn;}

    &:before, &:after {
        display: inline-block;
        font-family: 'Aevifont';
        color: @black;
    }
}

.aeviForm__left:before {
    margin-right: 10px;
    content: @af-var-chevron_circle_left;
}

.aeviForm__right:after {
    margin-left: 10px;
    content: @af-var-chevron_circle_right;
}

.aeviForm__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &:after {
        display: inline-block;
        font-family: 'Aevifont';
        content: @af-var-close;
        color: #666666;
        font-size: 10px;
    }
}

.form-group.image {
  label {display: none;}
}

.aeviForm__image {
    display: block;
    max-width: 100%;
    margin: 0 auto 15px;
}

.aeviForm__editorWrapper {
    position: relative;
}