/*
	*
	*	STATUSBAR.less
	* 
*/

.aeviStatusBar {
	.abs;
	top: 0;
	left: 0;
	.size(100%, 31px);
	overflow: hidden;
	line-height: 31px;
	padding: 0 17px;
	background-color: @grey;

	&.isOpened {
		height: auto;
		z-index: 9;
		border-bottom: 1px solid @border;
		
		p {
			max-width: 90%;
			white-space: pre-wrap;
			overflow: visible;
			line-height: 25px;
			text-indent: -22px;
			margin-left: 22px;
			padding-top: 4px;
			padding-bottom: 2px;
			height: auto;
		}
	}
}

.aeviStatusBarItem {
	.dib;
	.pull-left;
	margin: 0;
	max-width: 94%;
	height: 31px;
	line-height: 31px;
	.text-middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;

	font-size: 12px;
	font-weight: 600;
	color: @invalid;

	.transition(all, ease-in, 100ms);

	&.error {color: @invalid;}
	&.info {color: @blue;}
	
	&.error:before, &.info:before {
		.aevifont;
		.text-middle;
		margin-right: 8px;
		font-size: 13px;
	}

	&.info:before {content: @af-var-info_circle;}
	&.error:before {content: @af-var-alert; color: @red;}
}

.aeviStatusBarHelper {
	.dib;
	.pull-right;
	margin: 0;
	line-height: 30px;
	cursor: pointer;
}

.aeviStatusBarInfo:before, .aeviStatusBarQuest:before {
	.aevifont;
	margin-left: 12px;
	cursor: pointer;
	font-style: normal;
	font-size: 11px;
}

.aeviStatusBarInfo:before {content: @af-var-question;}
.aeviStatusBarQuest:before {content: @af-var-question;}