/*
	*
	*	aeviBubble.less
	* 
*/

.aeviBubble {
	.abs;
	top: -38px;
	right: 0;
	left: 0;
	margin: 0 auto;	
	z-index: 99;
	opacity: 0;
	.text-center;
	.transition(all, ease-in, 200ms);
	pointer-events: none;

	&.bottom {
		top: auto;
		bottom: -38px;

		.aeviBubble__inner:after {
			top: -10px;
			border-top-color: transparent;
			border-bottom-color: #666;
			border-bottom-color: rgba(60, 60, 60, .9);			
		}
	}

	&.wider .aeviBubble__inner:after {left: 25px;}	
	&.aeviBubble--show {opacity: 1;}
}

.aeviBubble__inner {
	.rel;
	display: inline-block;
	padding: 7px 15px;
	background-color: #666;
	background-color: rgba(60, 60, 60, .9);
	color: #fff;

	span {.dib;}

	&:after {
		.abs;
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-top-color: #666;
		border-top-color: rgba(60, 60, 60, .9);
		border-width: 5px;
		margin-left: -5px;
	}
}