/*
	*
	*	aeviCell.less
	* 
*/

.aeviCell {
	position: relative;
	padding: 0 !important;
	.text-middle;
	font-size: 14px;
	font-weight: 500;
	white-space: pre-wrap;
	color: #363636;
	border: none;

	* {
		font-size: 14px;
	}

	&:first-child {
		width: 25px;
		padding: 0 !important;
		border-left: 1px solid #000;
	}

	&:last-child .aeviCellBorder {border-right: 1px solid #000;}

	&.selected {
		//.aeviCellBorder {background-color: #fff;}
		//&:first-child .aeviCellBorder {border-right-color: #000;}
	}

	&.selectedTop .aeviCellBorder {border-top: 1px solid #000;}
	&.selectedLeft .aeviCellBorder {border-left: 1px solid #000;}
	&.selectedRight .aeviCellBorder {border-right: 1px solid #000;}
	&.selectedBottom .aeviCellBorder {border-bottom: 1px solid #000;}

    &.hidden { display:none; }

    &.validateError > div, &.softValidateError > div {
    	&:after {
    		.aevifont;
			.abs;
			top: 5px;
			right: 19px;
		}
    }

	// IF TEXT ALIGNMENT IS "RIGHT" DISPLAY ICONS ON THE "LEFT"
    &.text-right {
    	&.validateError > div, &.softValidateError > div {
	    	&:after {
	    		right: auto;
				left: 19px;
			}
	    }
    }

	&.validateError > div {
		background-color: #ff0000 !important;
		&:after {content: @af-var-alert; color: @red;}
	}

	&.softValidateError > div {
		background-color: #ffec95;
		&:after {content: @af-var-info_circle; color: @black;}
	}
}

// FIX ICONS IN IE SELECTBOX
.ie .aeviCellSelect > div:after {right: 25px;}

.aeviCellBorder {
	position: relative;
	height: 100%;
	height: 23px;
	max-height: 23px;
	line-height: 28px;
	padding: 0 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: initial;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	-ms-box-sizing: initial;
	vertical-align: middle;
	
	border: 1px solid #a8a8a8;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.ie .aeviCellBorder {
	height: 25px;
	max-height: 25px;
}