/*
	*
	*	SEARCH
	* 
*/

.aeviSearchBlackBox {
	top: 0;
	left: 0;
	position: fixed;
	.size(100%, 100%);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.aeviSearch {
	display: none;
	position: fixed;
	top: 70px;
	right: 70px;
	margin: auto;
	z-index: 999999999999999;
	.size(460px, auto);
	padding: 20px 25px 25px;
	border: 2px solid @colorIdentity;
	background-color: #fff;
	cursor: move;
	font-family: @font;

	* {
		color: #000000;
		font-family: @font;
	}

	label {
		display: block;
		* {vertical-align: middle;}
	}

	.textright {
		margin: 10px 0 0;
	}
}

.aeviSearch__title {
	display: block;
	font-size: 32px !important;
}

.aeviSearch__subtitle {
	display: block;
	font-size: 13px !important;
	margin-bottom: 12px;
	color: #363636;
}

.aeviSearch__field {
	.size(100%, 35px);
	margin-bottom: 33px;
	padding: 0 7px;
	border: 1px solid @border;
	font-weight: 600;
	cursor: text;
	.corner(3px);
	.sizing;
	font-family: @font;
	font-size: 13px;

	&:focus {outline: 1px solid @colorIdentity;}
}

.aeviSearch__direction {
	margin-right: 25px;
	margin-bottom: 0;
	display: inline-block;
	font-size: 13px !important;
	.text-bottom;	

	+ label, + label + label {
		.dib !important;
		margin-right: 24px;
		margin-bottom: 3px;
		.text-middle;
		font-size: 13px;
		font-weight: 500;
	}
}

.aeviSearch__radio {
	.text-top;
	margin: 0 8px 0 4px !important;
}

.safari .aeviSearch__radio {
	margin: -1px 8px 0 4px !important;
}

.aeviSearch__find {}