/*
	*
	*	AJAX PRELOADER
	* 
*/

.aeviAjaxPreloader {
    position: absolute;
    top: 0;
    left: 0;
    .size(100%, 100%);
    display: none;
    overflow: hidden;
    z-index: 999;
    background-color: rgba(100, 100, 100, .1);  
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
  
    &.visible {
    display: inline-block;
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
    }

	&:after {
		content: "";
		font-size: 70px;
		text-indent: -9999em;
		overflow: hidden;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: loadAnimation 1.2s infinite ease;
		animation: loadAnimation 1.2s infinite ease;
	}
}

@-webkit-keyframes loadAnimation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, 0 -0.83em 0 -0.42em @preloaderColor, 0 -0.83em 0 -0.44em @preloaderColor, 0 -0.83em 0 -0.46em @preloaderColor, 0 -0.83em 0 -0.477em @preloaderColor;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, 0 -0.83em 0 -0.42em @preloaderColor, 0 -0.83em 0 -0.44em @preloaderColor, 0 -0.83em 0 -0.46em @preloaderColor, 0 -0.83em 0 -0.477em @preloaderColor;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, -0.087em -0.825em 0 -0.42em @preloaderColor, -0.173em -0.812em 0 -0.44em @preloaderColor, -0.256em -0.789em 0 -0.46em @preloaderColor, -0.297em -0.775em 0 -0.477em @preloaderColor;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, -0.338em -0.758em 0 -0.42em @preloaderColor, -0.555em -0.617em 0 -0.44em @preloaderColor, -0.671em -0.488em 0 -0.46em @preloaderColor, -0.749em -0.34em 0 -0.477em @preloaderColor;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, -0.377em -0.74em 0 -0.42em @preloaderColor, -0.645em -0.522em 0 -0.44em @preloaderColor, -0.775em -0.297em 0 -0.46em @preloaderColor, -0.82em -0.09em 0 -0.477em @preloaderColor;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, 0 -0.83em 0 -0.42em @preloaderColor, 0 -0.83em 0 -0.44em @preloaderColor, 0 -0.83em 0 -0.46em @preloaderColor, 0 -0.83em 0 -0.477em @preloaderColor;
    }
}
@keyframes loadAnimation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, 0 -0.83em 0 -0.42em @preloaderColor, 0 -0.83em 0 -0.44em @preloaderColor, 0 -0.83em 0 -0.46em @preloaderColor, 0 -0.83em 0 -0.477em @preloaderColor;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, 0 -0.83em 0 -0.42em @preloaderColor, 0 -0.83em 0 -0.44em @preloaderColor, 0 -0.83em 0 -0.46em @preloaderColor, 0 -0.83em 0 -0.477em @preloaderColor;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, -0.087em -0.825em 0 -0.42em @preloaderColor, -0.173em -0.812em 0 -0.44em @preloaderColor, -0.256em -0.789em 0 -0.46em @preloaderColor, -0.297em -0.775em 0 -0.477em @preloaderColor;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, -0.338em -0.758em 0 -0.42em @preloaderColor, -0.555em -0.617em 0 -0.44em @preloaderColor, -0.671em -0.488em 0 -0.46em @preloaderColor, -0.749em -0.34em 0 -0.477em @preloaderColor;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, -0.377em -0.74em 0 -0.42em @preloaderColor, -0.645em -0.522em 0 -0.44em @preloaderColor, -0.775em -0.297em 0 -0.46em @preloaderColor, -0.82em -0.09em 0 -0.477em @preloaderColor;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em @preloaderColor, 0 -0.83em 0 -0.42em @preloaderColor, 0 -0.83em 0 -0.44em @preloaderColor, 0 -0.83em 0 -0.46em @preloaderColor, 0 -0.83em 0 -0.477em @preloaderColor;
    }
}
