/*
	*
	*	APP.less
	* 
*/

#aeviApp {

}

.aeviWrapper {
	position: relative;
	.size(94%, auto);	
	//min-width: 550px;
	min-height: 121px;
	//max-width: 100%;
	margin: 40px auto;
	padding: 0;
	.primary-font;
	font-size: 16px;
	-webkit-text-size-adjust: none;
	background-color: #fff;
	color: @defaultColor;
	border: 1px solid @border;

	// TODO
	//overflow: hidden;

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		outline: none;
		.primary-font;
	}
}

.aeviInline {display: inline-block !important;}

.aeviWsw {
	font-family: @font;
	* {font-family: @font;}
	h1, h2, h3 {
		margin: 10px 0 20px;
		color: @black;
		font-size: 24px;
		font-weight: 500;
	}

	ul, li, p {
		font-size: 14px;
		font-weight: 500;
		line-height: 22px;
	}

	strong {font-weight: 600;}
}

.aeviInfo {
	min-width: 200px;

	p {
		margin: 0;
		line-height: 24px;
		font-weight: 400;
	}
}

.aeviButton {
	display: inline-block;
	margin: 0 9px;
	padding: 0 13px;
	font-family: @font;
	font-size: 11px;
	font-weight: 600;
	line-height: 32px;
	text-transform: uppercase;
	.corner(4px);
	cursor: pointer;
	text-decoration: none;
	background-color: @colorIdentity;
	color: #fff;
	border: 1px solid @colorIdentity;
	&:first-child {margin-left: 0;}
	&:last-child {margin-right: 0;}
}

.aeviButton--secondary {}

.aeviButton--black {
	background-color: #3d3d3d !important;
	color: #fff !important; 
	border: none !important;
}

.aeviGreyButton {
	background-color: #f3f2f2 !important;
	color: #000 !important;
	border-color: @border !important;
}