/*
	*
	*	CLIPBOARD DIALOG
	* 
*/

.aeviClipboardDialog {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 500px;
	height: 280px;	
	background-color: #fff;
	border: 2px solid @colorIdentity;
	box-shadow: 0px 0px 6px @border;

	* {
		display: block;
		.sizing;
		width: 100%;
		height: 99%;
		padding: 8px;
		resize: none;
		border: none;
	}
}