/*
	*
	*	CONTEXTMENU
	* 
*/

.aeviContextMenu {
	display: none;
	position: absolute;
	width: 224px;
	top: 200px;
	left: 500px;
	background-color: #fff;
	border: 1px solid #c6c6c6;
	box-shadow: 0px 0px 4px #c6c6c6;
	font-family: @font;

	span {
		display: block;
		padding: 4px 9px;
		font-size: 12px;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			background-color: #c6c6c6;
		}
	}
}

.aeviContextMenu__inner {
	padding: 7px;
}