/*
	*
	*	PAGER
	* 
*/

.aeviArrows {
	position: absolute;
	top: 0;
	left: 0;
}

@arrowWidth: 11px;
@arrowHeight: 15px;

.aeviArrow {
	position: absolute;
	display: inline-block;
	.size(40px, 40px);
	margin: auto;
	.corner(50%);
	cursor: pointer;
	background-color: @colorIdentity;
	.noselection;

	&:before {
		content: "";
		position: absolute;
		top: 28%;
		right: 0;
		bottom: auto;
		left: 0;
		.size(0, 0);
		margin: auto;
		display: inline-block;
		vertical-align: middle;
		border: 0 solid transparent;
	}

	&.top:before {
		border-bottom-color: @white;
		border-width: 0 @arrowWidth @arrowHeight @arrowWidth;
	}

	&.bottom:before {
		top: auto;
		bottom: 26%;
		border-top-color: @white;
		border-width: @arrowHeight @arrowWidth 0 @arrowWidth;
	}

	&.left:before, &.right:before {top: 22%;}

	&.left:before {
		right: auto;
		left: 10px;
		border-right-color: @white;
		border-width: @arrowWidth @arrowHeight @arrowWidth 0;
	}

	&.right:before {
		right: 10px;
		left: auto;
		border-left-color: @white;
		border-width: @arrowWidth 0 @arrowWidth @arrowHeight;		
	}
}