/*
	*
	*	SCROLL.less
	* 
*/

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border: 1px solid #a8a8a8;
    .corner(6px);
}