/*
	*
	*	SORTING.less
	* 
*/


.aeviSort {
	.dib;
	.size(10px, 10px);
	cursor: pointer;
	
	&:after {
		.rel;
		top: -3px;
		content: "";
		.size(0, 0);
		.dib;
		.text-middle;
		border-style: solid;
		border-width: 5px 0 5px 7px;
		border-color: transparent;
	}
	&.default:after {border-left-color: #fff;}
	
	&.sortDown:after {
		border-width: 0 5px 7px 5px;
		border-top-color: #fff;
	}
	&.active.sortDown:after {border-bottom-color: #fff;}

	&.sortUp:after {
		border-width: 7px 5px 0px 5px;
		border-bottom-color: #fff;
	}
	&.active.sortUp:after {border-top-color: #fff;}

}