/*
	*
	*	TABLE.less
	* 
*/

#aeviApp table {
	border-collapse: separate;
	border-spacing: 0;
}

#aeviApp .table-body {
	.rel;
}

#aeviApp .table-body table {
	.abs;
	top: 0px;
	left: 0px;
	width: 100%;
}

.aeviScrollDiv {
	.abs;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 1px;
	min-height: 1px;
}

#aeviApp table, .aeviTheadWrapper{
	white-space: nowrap;
	height: auto;
	table-layout: fixed;
	.noselection;
	
	thead {
		th {
			.rel;
			padding: 6px 21px 6px 5px !important;
			color: #fff;
			font-size: 14px;
			font-weight: 600;
			white-space: pre-wrap;
			.text-center;
			border: none;
			border-right: 1px solid #000;
			background-color: #ff0000;

			i {
				.abs;
				top: 0;
				right: 6px;
				bottom: 0;
				margin: auto;
			}
		}
	}	

	tbody tr td:first-child {
		.text-center;
		width: 1em;
	}
}

#aeviApp .table-body table thead {visibility: hidden;}
.aeviWrapper .table-head {
	.rel;
	background-color: #ff0000;
}

.aeviWrapper .outer-container {
	.abs;
	top: 0;
	left: 0;
	width: 100%;
}

.aeviWrapper .inner-container {
	height: 100%;
	overflow: hidden;
}

.aeviWrapper .table-body {
	overflow: scroll;
}