/*
	*
	*	MEDIA QUERIES
	* 
*/

@1410h:   ~"only screen and (min-width: 1410px)";
@1260h:   ~"only screen and (min-width: 1260px)";
@1240h:   ~"only screen and (min-width: 1240px)";

@1800l:   ~"only screen and (max-width: 1800px)";

@1530l:   ~"only screen and (max-width: 1530px)";
@1500l:   ~"only screen and (max-width: 1500px)";

@1440h:   ~"only screen and (min-width: 1441px)";
@1440l:   ~"only screen and (max-width: 1440px)";

@1380l:   ~"only screen and (max-width: 1380px)";
@1360l:   ~"only screen and (max-width: 1360px)";
@1350l:   ~"only screen and (max-width: 1350px)";

@1290l:   ~"only screen and (max-width: 1290px)";
@1280l:   ~"only screen and (max-width: 1280px)";
@1270l:   ~"only screen and (max-width: 1270px)";
@1260l:   ~"only screen and (max-width: 1260px)";
@1250l:   ~"only screen and (max-width: 1250px)";
@1240l:   ~"only screen and (max-width: 1240px)";
@1230l:   ~"only screen and (max-width: 1230px)";
@1220l:   ~"only screen and (max-width: 1220px)";
@1210l:   ~"only screen and (max-width: 1210px)";
@1202l:   ~"only screen and (max-width: 1201px)";
@1200l:   ~"only screen and (max-width: 1200px)";
@1190l:   ~"only screen and (max-width: 1190px)";
@1180l:   ~"only screen and (max-width: 1180px)";
@1170l:   ~"only screen and (max-width: 1170px)";
@1160l:   ~"only screen and (max-width: 1160px)";
@1150l:   ~"only screen and (max-width: 1150px)";
@1140l:   ~"only screen and (max-width: 1140px)";
@1130l:   ~"only screen and (max-width: 1130px)";
@1120h:   ~"only screen and (min-width: 1121px)";
@1120l:   ~"only screen and (max-width: 1120px)";
@1110l:   ~"only screen and (max-width: 1110px)";
@1100l:   ~"only screen and (max-width: 1100px)";

@1090l:   ~"only screen and (max-width: 1090px)";
@1080l:   ~"only screen and (max-width: 1080px)";
@1070l:   ~"only screen and (max-width: 1070px)";
@1060l:   ~"only screen and (max-width: 1060px)";
@1050l:   ~"only screen and (max-width: 1050px)";
@1040l:   ~"only screen and (max-width: 1040px)";
@1030m:   ~"only screen and (min-width: 1031px)";
@1030l:   ~"only screen and (max-width: 1030px)";
@1025l:   ~"only screen and (max-width: 1025px)";
@1020l:   ~"only screen and (max-width: 1020px)";
@1010l:   ~"only screen and (max-width: 1010px)";
@1010l:   ~"only screen and (max-width: 1010px)";
@1001l:   ~"only screen and (max-width: 1000px)";
@1000l:   ~"only screen and (max-width: 1000px)";

@990l:	  ~"only screen and (max-width: 990px)";
@980l:    ~"only screen and (max-width: 980px)";
@970l:    ~"only screen and (max-width: 970px)";
@960l:    ~"only screen and (max-width: 960px)";
@955l:    ~"only screen and (max-width: 955px)";
@950l:    ~"only screen and (max-width: 950px)";
@940l:    ~"only screen and (max-width: 940px)";
@930l:    ~"only screen and (max-width: 930px)";
@920l:    ~"only screen and (max-width: 920px)";
@910l:    ~"only screen and (max-width: 910px)";
@900l:    ~"only screen and (max-width: 900px)";

@890l:    ~"only screen and (max-width: 890px)";
@880l:    ~"only screen and (max-width: 880px)";
@870l:    ~"only screen and (max-width: 870px)";
@860l:    ~"only screen and (max-width: 860px)";
@850l:    ~"only screen and (max-width: 850px)";
@840l:    ~"only screen and (max-width: 840px)";
@830l:    ~"only screen and (max-width: 830px)";
@825l:    ~"only screen and (max-width: 825px)";
@820l:    ~"only screen and (max-width: 820px)";
@810l:    ~"only screen and (max-width: 810px)";
@800l:    ~"only screen and (max-width: 800px)";

@790l:    ~"only screen and (max-width: 790px)";
@780l:    ~"only screen and (max-width: 780px)";
@770l:    ~"only screen and (max-width: 770px)";
@760l:    ~"only screen and (max-width: 760px)";
@750l:    ~"only screen and (max-width: 750px)";
@740l:    ~"only screen and (max-width: 740px)";
@730l:    ~"only screen and (max-width: 730px)";
@720l:    ~"only screen and (max-width: 720px)";
@710l:    ~"only screen and (max-width: 710px)";
@700l:    ~"only screen and (max-width: 700px)";

@690l:    ~"only screen and (max-width: 690px)";
@680l:    ~"only screen and (max-width: 680px)";
@670l:    ~"only screen and (max-width: 670px)";
@660l:    ~"only screen and (max-width: 660px)";
@650l:    ~"only screen and (max-width: 650px)";
@640l:    ~"only screen and (max-width: 640px)";
@630l:    ~"only screen and (max-width: 630px)";
@620l:    ~"only screen and (max-width: 620px)";
@610l:    ~"only screen and (max-width: 610px)";
@600l:    ~"only screen and (max-width: 600px)";

@590l:    ~"only screen and (max-width: 590px)";
@580l:    ~"only screen and (max-width: 580px)";
@570l:    ~"only screen and (max-width: 570px)";
@560l:    ~"only screen and (max-width: 560px)";
@550l:    ~"only screen and (max-width: 550px)";
@540l:    ~"only screen and (max-width: 540px)";
@530l:    ~"only screen and (max-width: 530px)";
@520l:    ~"only screen and (max-width: 520px)";
@510l:    ~"only screen and (max-width: 510px)";
@500l:    ~"only screen and (max-width: 500px)";

@490l:    ~"only screen and (max-width: 490px)";
@480l:    ~"only screen and (max-width: 480px)";
@471l:    ~"only screen and (max-width: 471px)";
@470l:    ~"only screen and (max-width: 470px)";
@460l:    ~"only screen and (max-width: 460px)";
@450l:    ~"only screen and (max-width: 450px)";
@440l:    ~"only screen and (max-width: 440px)";
@430l:    ~"only screen and (max-width: 430px)";
@420l:    ~"only screen and (max-width: 420px)";
@410l:    ~"only screen and (max-width: 410px)";
@400l:    ~"only screen and (max-width: 400px)";

@390l:    ~"only screen and (max-width: 390px)";
@380l:    ~"only screen and (max-width: 380px)";
@370l:    ~"only screen and (max-width: 370px)";
@360l:    ~"only screen and (max-width: 360px)";
@350l:    ~"only screen and (max-width: 350px)";
@340l:    ~"only screen and (max-width: 340px)";
@330l:    ~"only screen and (max-width: 330px)";
@320l:    ~"only screen and (max-width: 320px)";

@900h:    ~"only screen and (max-height: 900px)";
@850h:    ~"only screen and (max-height: 850px)";
@680h:    ~"only screen and (max-height: 680px)";
@640h:    ~"only screen and (max-height: 640px)";

/*
	*
	*	MEDIA QUERIES - SPECIFIED RULES
	* 
*/

@ipad34:  ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px)"; // IPAD 3,4
@retina:  ~"screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5)";