/*
    *
    *   MIXINS
    * 
*/

.size (@width: 0px, @height: 0px) {
  width: @width;
  height: @height;
}

.textright {text-align: right;}
.textleft {text-align: left;}
.textcenter {text-align: center;}

.relative {position: relative;}
.absolute {position: absolute;}

.abs {position: absolute;}
.rel {position: relative;}

.tdu {text-decoration: underline;}
.tdn {text-decoration: none;}

.clearFix { 
  clear:both;
  content:" ";
  display:table;  
}

input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

.noselection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.corner (@radius: 1px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius: @radius;
}

.corner-top-left(@radius: 1px) {
  border-top-left-radius: @radius;
  -webkit-border-top-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius: @radius;
}
.corner-top-right(@radius: 1px) {
  border-top-right-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-top-right-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius: @radius;
}
.corner-bottom-left(@radius: 1px) {
  border-bottom-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-bottom-left-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius: @radius;
}
.corner-bottom-right(@radius: 1px) {
  border-bottom-right-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-bottom-right-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius: @radius;
}

.rotate(@deg:0) {
  transform:rotate(@deg);
  -ms-transform:rotate(@deg);
  -webkit-transform:rotate(@deg);
  -moz-transform:rotate(@deg);
}

.sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.inputHidden {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -9999;
}

.pull-right {float: right;}
.pull-left {float: left;}

.font-face(@fontname, @fontfile, @fontweight:normal, @fontstyle:normal) {
  font-family: "@{fontname}";
  src: url("@{fontfile}.eot");
  src: url("@{fontfile}.eot?#iefix") format("embedded-opentype"),
       url("@{fontfile}.woff") format("woff"),
       url("@{fontfile}.ttf") format("truetype"),
       url("@{fontfile}.svg#@{fontname}") format("svg");
  font-weight: @fontweight;
  font-style: @fontstyle;
}

.dib {display: inline-block;}
.db {display: block;}
.dn {display: none;}

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-middle {vertical-align: middle;}
.text-top {vertical-align: top;}
.text-bottom {vertical-align: bottom;}

.transition(@what, @type, @time) {
  -webkit-transition: @what @type @time;
  -moz-transition: @what @type @time;
  -o-transition: @what @type @time;
  -ms-transition: @what @type @time;
  transition: @what @type @time;
}