/*
     *  ERIC RESET ************************************************************************ 
*/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

:focus {
  outline: 0;
  font-weight: normal;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ol, ul {
  list-style: none;
}
	
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

figure {margin: 0; padding: 0;}

strong {font-weight: bold;}

mark {background-color: transparent;}

/*
     *  DEFAULT STYLES *********************************************************************************
 */
body { 
  .resetindent; 
  img {border:none; outline: none;}
}

a {
  text-decoration: none;
}

input {outline:none;}
select {outline:none;}

.resetindent { 
  margin:0;
  padding:0;  
}    

textarea { 
  -webkit-appearance: none;
}

.linline {display:inline;}

.ios { 
  -webkit-appearance:none;  
  -webkit-border-radius:0px;
}

.repaira {text-decoration:none;}

.al-right {float:right;}
.al-left {float:left;}


