﻿/**
*
*	MYRETAIL
*
*/

@disabled: #eeeeee;

@black: #363636;
@defaultColor: #333;
@border: #dadada;

@blue: #055091;
@selectedBlueBackground: #e9e8ef;

@cellFontSize: 13px;

@cellBackground: @selectedBlueBackground;
@cellsBorder: @buttonBackground--secondary;

@selectedCell: @selectedBlueBackground;

@invalidBackground: #fdebeb;
@invalidBackground--dark: #b61106;
@softInvalidBackground: #fff3db;

@tinge: @selectedBlueBackground;
@rowNumberColor: #a7a7a7;
@tingeRowNumber: @buttonBackground--secondary;
@tingeRowNumberColor: #fff;

@rowNumberBackgroundColor--selected: @tingeRowNumber;
@rowNumberColor--selected: @tingeRowNumberColor;

@preloaderColor: @blue;

@buttonBackground: #fff;
@buttonBackground--secondary: @blue;
@buttonColor: @black;
@buttonColor--secondary: #fff;

@clipboardDialogBackground: #fff;
@clipboardDialogBorder: @blue;

@contextMenuBackground: #fff;
@contextMenuBorder: #c6c6c6;

@pagerArrowBackground: @buttonBackground--secondary;

@searchBorder: @blue;
@searchFieldBorder: @border;

@toolbarBackground: #f3f2f2;

.tableHeadBackground {background-color: #3d3d3d;}
.toolbarButtonShadow {
    box-shadow: 1px 1px 5px #acabab;
}

@statusBarItem--info: @black;

@toast: #2f96b4;
@toast--opacity: .92;
@toast--success: #51a351;
@toast--error: #bd362f;
@toast--info: #2f96b4;
@toast--warning: #f89406;

@awesomeButtonColor: @black;
@awesomeButtonColor--secondary: #fff;

@modalWidth: 460px;
@modalButtonsAlign: right;

.aeviSearch--extend {
    border-color: @buttonBackground--secondary;
    .aeviSearch__field:focus {outline: 1px solid @buttonBackground--secondary;}
}

@closeIconColor: @black;
@statusBarFontWeight: 700;
