﻿/**
*
*	MYRETAILINT
*
*/

@disabled: #eeeeee;

@black: #363636;
@defaultColor: #333;
@border: #dadada;

@cellFontSize: 13px;

@cellBackground: #ebf1f7;
@cellsBorder: @buttonBackground--secondary;

@selectedCell: #e7e0e7;

@invalidBackground: #fdebeb;
@invalidBackground--dark: #b61106;
@softInvalidBackground: #fff3db;

@selectedRow: #008dd2;
@tinge: #e7e0e7;
@rowNumberColor: #a7a7a7;
@tingeRowNumber: @buttonBackground--secondary;
@tingeRowNumberColor: #fff;

@rowNumberBackgroundColor--selected: @tingeRowNumber;
@rowNumberColor--selected: @tingeRowNumberColor;

@preloaderColor: #008dd2;

@buttonBackground: #fff;
@buttonBackground--secondary: #008dd2;
@buttonColor: @black;
@buttonColor--secondary: #fff;

@clipboardDialogBackground: #fff;
@clipboardDialogBorder: #008dd2;

@contextMenuBackground: #fff;
@contextMenuBorder: #c6c6c6;

@pagerArrowBackground: @buttonBackground--secondary;

@searchBorder: #008dd2;
@searchFieldBorder: @border;

@toolbarBackground: #f3f2f2;

.tableHeadBackground {background-color: #3d3d3d;}
.toolbarButtonShadow {
    box-shadow: 1px 1px 5px #acabab;
}

@statusBarItem--info: @black;

@toast: #7f7f7f;
@toast--opacity: 1;
@toast--success: @toast;
@toast--error: @toast;
@toast--info: @toast;
@toast--warning: @toast;

@awesomeButtonColor: @black;
@awesomeButtonColor--secondary: #fff;

@modalWidth: 460px;
@modalButtonsAlign: right;

.aeviSearch--extend {
    border-color: @buttonBackground--secondary;
    .aeviSearch__field:focus {outline: 1px solid @buttonBackground--secondary;}
}

@closeIconColor: @black;
@statusBarFontWeight: 700;
