/*
*
*	THEMEGENERATOR
*
*/

.aeviModal {
    max-width: @modalWidth;
    p {color: @black;}
    .aeviModal__buttons {text-align: @modalButtonsAlign;}
}

.form-control.validateError  {
    background-color: @invalidBackground !important;
}
.form-control.softValidateError {
    background-color: @softInvalidBackground !important;
}

.aeviTable.isReport {
    border-bottom: 1px solid @border;
}

.aeviRow {
    &:last-child .aeviCell .aeviCellBorder,
    &:last-child .aeviRowNumber .aeviCellBorder,
    &.newrow .aeviRowNumber .aeviCellBorder,
    &.newrow .aeviCell .aeviCellBorder {
        border-bottom-color: @border;
    }

    &.selected.invalid {
        .aeviRowNumber > div {background-color: darken(#a11338, 10%) !important;}

        .aeviCell {
            > .validateError {background-color: darken(@invalidBackground, 10%) !important;}
            > .softValidateError {background-color: darken(@softInvalidBackground, 10%) !important;}
        }
    }

    &:nth-child(even) .aeviCell, &:nth-child(even) .aeviRowNumber {
        background-color: #f6f6f6;
    }

    &.tinge td {
        background-color: @tinge !important;
        &.aeviRowNumber {
            .aeviCellBorder {
                background-color: @tingeRowNumber !important;
                color: @tingeRowNumberColor !important;
                border-top-color: @tingeRowNumber !important;
            }
        }
    }

    &.negative td {
        background-color: @invalidBackground !important;
        &.aeviRowNumber {
            .aeviCellBorder {
                color: #333333 !important;
                background-color: @invalidBackground !important;
                //border-top-color: lighten(@invalidBackground--dark, 50%) !important;
            }
        }
    }


    &.invalid td:first-child > div, &.serverInvalid td:first-child > div  {
        color: #fff;
        background-color: @invalidBackground--dark;
    }
}

.aeviRowNumber {
    font-size: @cellFontSize;
    color: @rowNumberColor;

    * {
        font-size: @cellFontSize;
    }

    &.selected .aeviCellBorder {
        background-color: @rowNumberBackgroundColor--selected !important;
        color: @rowNumberColor--selected !important;
    }
}

.aeviCell {
    color: #363636;
    font-size: @cellFontSize;

    * {
        font-size: @cellFontSize;
    }

    &:first-child {border-left-color: @border;}
    &:last-child .aeviCellBorder {border-right-color: @border;}
    &.selected .aeviCellBorder {background-color: @selectedCell;}
    &.selected:first-child .aeviCellBorder {border-right-color: @cellBackground;}
    &.selectedTop .aeviCellBorder {border-top: 1px solid @cellsBorder !important;}
    &.selectedLeft .aeviCellBorder {border-left: 1px solid @cellsBorder !important;}
    &.selectedRight .aeviCellBorder {border-right: 1px solid @cellsBorder !important;}
    &.selectedBottom .aeviCellBorder {border-bottom: 1px solid @cellsBorder !important;}
    &.validateError > div {background-color: @invalidBackground !important;}
    &.softValidateError > div {background-color: @softInvalidBackground !important;}
    &.readOnly {
        color: @rowNumberColor;
        &.selected.selectedTop.selectedRight {
            color: @black;
            > div {background-color: darken(@toolbarBackground, 20%) !important;}
        }
    }
}

.aeviCellBorder {
    border: 1px solid @border;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.aeviWrapper .table-head {.tableHeadBackground;}

#aeviApp table thead th, .aeviTheadWrapper thead th {
    border-right-color: @border;
    .tableHeadBackground;
}

.aeviButton {
    background-color: @buttonBackground;
    color: @buttonColor;
    border: 1px solid @buttonBackground;
    .toolbarButtonShadow();
    &:focus {
        box-shadow: 0 0 5px rgb(81, 203, 238);
        border: 1px solid rgb(81, 203, 238);
    }
}

.aeviButton--secondary {
    .aeviButton;
    background-color: @buttonBackground--secondary !important;
    color: @buttonColor--secondary !important;
    border-color: transparent !important;
    &:before, &:after {color: @buttonColor--secondary !important;}
}

.aeviClipboardDialog {
    background-color: @clipboardDialogBackground;
    border: 2px solid @clipboardDialogBorder;
    box-shadow: 0px 0px 6px @clipboardDialogBorder;
}

.aeviContextMenu {
    background-color: @contextMenuBackground;
    border-color: 1px solid @contextMenuBorder;
    box-shadow: 0px 0px 4px @contextMenuBorder;
    span:hover {background-color: @contextMenuBorder;}
}

.aeviArrow {background-color: @pagerArrowBackground;}

.aeviSearch {
    border-color: @searchBorder;
    .aeviSearch--extend;
}
.aeviSearch__field {border-color: @searchFieldBorder;}

.aeviStatusBar {background-color: @grey;}

.aeviStatusBarItem {
    font-weight: @statusBarFontWeight;
    color: @invalidBackground--dark;
    &.error {color: @invalidBackground--dark;}
    &.info {color: @statusBarItem--info;}
}

.aeviToolbar {
    background-color: @toolbarBackground;
    border-top-color: @border;

    i {
        color: @buttonColor;
        background-color: @buttonBackground;
        .toolbarButtonShadow();

        &.disabled {
            background-color: @disabled;
            &:hover {background-color: @disabled;}
        }

        &:hover {
            background-color: darken(@buttonBackground, 5%);
        }

        &:before {color: @awesomeButtonColor;}
    }

    .aeviToolbar__border {background: @border;}

    .aeviToolbar__searchwrapper {
        border-color: 1px solid @border;

        &.disabled {
            .aeviToolbar__query {background-color: @disabled;}
            i, i:hover {background-color: @disabled;}
        }
    }

    .aeviToolbar__textfilter,
    .aeviToolbar__numberfilter,
    .aeviToolbar__datefilter,
    .aeviToolbar__enumfilter {
        border-color: @border;
    }

    .aeviToolbar__query {
        color: @border;
        &:focus {outline: 2px solid @buttonBackground--secondary;}
    }

    .aeviToolbar__filter {
        color: @buttonColor--secondary;
        background-color: @buttonBackground--secondary;
        &:hover {background-color: lighten(@buttonBackground--secondary, 5%);}
        &:before {color: @awesomeButtonColor--secondary;}
    }
    .aeviToolbar__toolbar_disable_toastr {color: @black;}

    .aeviToolbar__page_size {
        select {border-color: @border;}
    }
}

.aeviToolbar__lock  {
    &.isLocked {
        background-color: @buttonBackground--secondary;
        color: #fff;
        &:before {color: #fff;}
        &:hover {background-color: @buttonBackground--secondary;}
    }
}

.toast {
    background-color: @toast;
    opacity: @toast--opacity;
}
.toast-success {background-color: @toast--success;}
.toast-error {background-color: @toast--error;}
.toast-info {background-color: @toast--info;}
.toast-warning {background-color: @toast--warning;}

.modalCloseImg, .close {
    &:before {color: @closeIconColor;}
}

// datepicker
.ui-datepicker {
    width: 250px;
    .primary-font;

}

.ui-widget-header {
    font-size: 13px;
    font-weight: 500;
    background: @black;
    color: #fff;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    padding: 8px 11px;
    background-color: @black;
    color: #fff;
    border: none;
    .corner(3px);
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background-color: #f3f2f2;
    color: @black;
    border-color: #dadada;
    font-weight: 500;

    &.ui-state-active {
        background-color: @red;
        color: #fff;
    }
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    margin-top: -6px;
    background: none;
    color: transparent;

    &:before {
        .aevifont;
        content: @af-var-chevron_circle_right;
        color: #fff;
    }
}

.ui-datepicker .ui-datepicker-prev span:before {content: @af-var-chevron_circle_left;}

.ui-icon {
    text-indent: 0;
}