/*
	*
	*	textEditor
	* 
*/

.aeviLink {
	text-decoration: underline;
	cursor: pointer;
}

.aeviActionLink {
	color: @black;
	text-decoration: underline;
	&:hover {color: @black;}
}

.aeviFormLink .aeviCellBorder, .aeviFormLink .aeviActionLink {
    font-size: 0;
    &:before {
        .aevifont;
        display: inline-block;
        content: @af-var-edit;
        font-size: 13px;
        margin-top: 7px;
    }
}

.aeviFormLink .aeviCellBorder.noImage:before {display: none;}
