/*
	*
	*	dateTimeEditor.js
	* 
*/

.datepicker {
	.abs;
	top: -1px;
	right: 3px;

	&:before {
		.aevifont;
		content: @af-var-calendar;
		font-size: 12px;
	}
}

.aeviCellDate {
	.abs;
	top: 0;
	left: 0;
	.size(80%, 25px);
	padding: 0 0 0 8px;
	line-height: 28px;
	color: #000;
	border: none;
	background-color: transparent;

	&::-ms-clear {display: none;}
}