/*
	*
	*	enumEditor.js
	* 
*/

.aeviEnumEditor {
	position: absolute;
	top: 0;
	left: 0;
	.size(100%, 26px);
	padding-left: 4px;
	line-height: 100%;
	background-color: transparent;
	border: none;
}

.aeviForm .aeviEnumEditor  {
  position: static;
}