﻿/*
    *
    *   imageEditor
    * 
*/

.aeviCellImage {
    color: @lgrey;
    cursor: pointer;

    &:before {
        .aevifont;
        content: @af-var-upload;
        margin-right: 8px;
        text-decoration: none;
        font-size: 12px;
    }

    &.imagePresent {
        color: @black;
        &:before {content: @af-var-picture;}
    }
}

.aeviCellImage:hover {.tdu;}

.aeviImageModal {
    .image {
        .rel;
        .size(629px, 464px);

        img {
            .abs;
            top:0;
            right:0;
            bottom:0;
            left:0;            
            margin:auto; 
            max-width:100%; 
            max-height:100%;
        }
    }

    .upload {
        width:100%;
        height:100%;
        background: url('@{img}/image-upload.png') no-repeat;
        cursor:pointer;
        color:@lgrey;
        .text-center;
        font-size: 24px;
    }

    .buttons {padding-top: 16px;}
}

.aeviImageModalClose {
    .abs;
    top: 10px;
    right: 10px;
    color: #666;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    
    &:hover {
        color: #666;
        text-decoration: none;
    }

    //&:before {
    //    .aevifont;
    //    content: @af-var-close;
    //}
}

.aeviImageModal__buttons {
    clear: both;
    .clearFix();
}

.cropZoom {
    .noselection;
    &:before {
        .aevifont;
        content: @af-var-zoom_in;
        font-size: 12px;
    }
}

.cropZoom.zoomin:before {content: @af-var-zoom_in;}
.cropZoom.zoomout:before {content: @af-var-zoom_out;}