/*
	*
	*	textEditor
	* 
*/

.aeviCellInput {
	position: absolute;
	top: 0;
	left: 0;
	.size(100%, 35px);
	line-height: 28px;
	padding: 0 0 0 8px;
	overflow: hidden;
	vertical-align: top;
	resize: none;
	color: #000;
	border: 1px solid @colorIdentity;
	border: none;
	background-color: transparent;
	white-space: nowrap;

	&.initial {
		border: none;
	    color: transparent;
	    text-shadow: 0 0 0 #000;
	    &:focus {outline: none;}
	}

	&.text-right {padding: 0 8px;}

	&::-ms-clear {display: none;}
}