/*
	*
	*	COLORS
	* 
*/

@black: #555;
@grey: #f3f2f2;
@white: #ffffff;
@lgrey: #a7a7a7;
@orange: #ff8b02;
@vodafoneRed: #e60000;
@blue: #015193;
@light-grey: #CCCCCC;
@near-black: #030303;
@green: #51A351;
@red: #BD362F;
@orange: #F89406;
@invalid: #b61106;
@colorIdentity: @blue;

.blueGradient {
	background: #015da3;
	background: -moz-linear-gradient(top,  #015da3 0%, #014583 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#015da3), color-stop(100%,#014583));
	background: -webkit-linear-gradient(top,  #015da3 0%,#014583 100%);
	background: -o-linear-gradient(top,  #015da3 0%,#014583 100%);
	background: -ms-linear-gradient(top,  #015da3 0%,#014583 100%);
	background: linear-gradient(to bottom,  #015da3 0%,#014583 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015da3', endColorstr='#014583',GradientType=0 );
}
