/*
    *
    *   FONTS - v.1.7
    * 
*/

@font-face {
  .font-face('Font Awesome', '@{fonts}/fontawesome', @fontweight: 700, @fontstyle: normal);
}

@font-face {
	font-family: 'Aevifont';
	src:url('@{fonts}/Aevifont.eot?etibfk');
	src:url('@{fonts}/Aevifont.eot?#iefixetibfk') format('embedded-opentype'),
		url('@{fonts}/Aevifont.ttf?etibfk') format('truetype'),
		url('@{fonts}/Aevifont.woff?etibfk') format('woff'),
		url('@{fonts}/Aevifont.svg?etibfk#Aevifont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="aevifont-"], [class*=" aevifont-"], .aevifont {
	font-family: 'Aevifont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@af-var-menu: "\e600";
@af-var-add: "\e601";
@af-var-articles: "\e602";
@af-var-basic_data: "\e603";
@af-var-bestsellers: "\e604";
@af-var-calendar2: "\e605";
@af-var-camera: "\e606";
@af-var-contact: "\e607";
@af-var-currencies: "\e608";
@af-var-customer: "\e609";
@af-var-day: "\e60a";
@af-var-deal: "\e60b";
@af-var-discounts: "\e60c";
@af-var-docs: "\e60d";
@af-var-groups: "\e60e";
@af-var-home: "\e60f";
@af-var-inventory: "\e610";
@af-var-licence: "\e611";
@af-var-month: "\e612";
@af-var-mpos: "\e613";
@af-var-no_picture: "\e614";
@af-var-no_product: "\e615";
@af-var-payments: "\e616";
@af-var-portal: "\e617";
@af-var-pos: "\e618";
@af-var-printer: "\e619";
@af-var-profile: "\e61a";
@af-var-reports: "\e61b";
@af-var-return: "\e61c";
@af-var-sales: "\e61d";
@af-var-scanner: "\e61e";
@af-var-sellers: "\e61f";
@af-var-settings: "\e620";
@af-var-shops: "\e621";
@af-var-suppliers: "\e622";
@af-var-templates: "\e623";
@af-var-units: "\e624";
@af-var-vat: "\e625";
@af-var-void: "\e626";
@af-var-week: "\e627";
@af-var-year: "\e628";
@af-var-chevron_circle_down: "\e629";
@af-var-chevron_circle_left: "\e62a";
@af-var-chevron_circle_right: "\e62b";
@af-var-chevron_circle_up: "\e62c";
@af-var-chevron_down: "\e62d";
@af-var-chevron_left: "\e62e";
@af-var-chevron_right: "\e62f";
@af-var-chevron_up: "\e630";
@af-var-shield: "\e631";
@af-var-add_line: "\e632";
@af-var-alert: "\e633";
@af-var-calendar: "\e634";
@af-var-delete_line: "\e635";
@af-var-download: "\e636";
@af-var-filter: "\e637";
@af-var-info_circle: "\e638";
@af-var-lock: "\e639";
@af-var-picture: "\e63a";
@af-var-question: "\e63b";
@af-var-question_circle: "\e63c";
@af-var-save: "\e63d";
@af-var-search: "\e63e";
@af-var-unlock: "\e63f";
@af-var-upload: "\e640";
@af-var-close: "\e641";
@af-var-clipboard: "\e642";
@af-var-zoom_in: "\e643";
@af-var-zoom_out: "\e644";
@af-var-cancel: "\e64d";
@af-var-edit: "\e900";
@af-var-form: "\e901";